footer {
    color: #FFFFFFDB;
    display: flex;
    flex-direction: column;
    .topFooter {
        background: #005695;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 110px;
        padding: 0 5% 0 5%;
        p {
            font-size: 16px;
            font-weight: 700;
            line-height: 19.36px;
            text-align: left;
        }
        div {
            width: 190px;
            display: flex;
            justify-content: space-between;
        }

    }
    .bottomFooter {
        background: #232020;
        height: 68px;
        p {
            font-size: 15px;
            font-weight: 700;
            line-height: 18.15px;
            text-align: center;
            margin-top: 25px;
        }
    }
}